.idea/
DictionaryCambridgeParser.iml
cambridge-microservices/microservice-cambridge/src/main/resources/node_modules/
cambridge-microservices/microservice-cambridge/src/test/
cambridge-microservices/microservice-cambridge/target/
cambridge-microservices/microservice-pdf-parser/src/test/
cambridge-microservices/microservice-pdf-parser/target/
cambridge-microservices/microservice-eureka-server/src/test/
cambridge-microservices/microservice-eureka-server/target/
cambridge-microservices/microservice-config-server/src/test/
cambridge-microservices/microservice-config-server/target/
cambridge-microservices/microservice-config-server/cambridge-config
cambridge-microservices/microservice-zuul-server/target
cambridge-microservices/microservice-authentication-oauth2-server/target
cambridge-microservices/microservice-cambridge-events/target
cambridge-microservices/microservice-cambridge-events/src/test
cambridge-microservices/microservice-cambridge-command-query/target
cambridge-microservices/microservice-cambridge-command-query/src/test
cambridge-lib/security-cambridge-filter/target
cambridge-lib/words-cambridge-items/target
docker/*/*.jar
docker/*/*.war